.sidebar{
  background-color: #23272F;
  width: 200px;
  height: 100vh;
  position: fixed;
  flex: 20%;
  list-style-type: none;
  border-right: 1px solid  rgb(126, 34, 206);
  
}
.sidebarlist{
  text-decoration: none;
  color: white;
  
}
body{
  background-color: #23272F;
  color:white;
 
}
