.navbar{
   
}
.searchinput{
    box-shadow:2px 3px 5px #553c9a, -2px -3px 5px #553c9a;
    width: 350px;
}
.searchdiv{
    margin-right: auto;
    margin-left: auto;
}
	 
.btn{
   background-color:  rgb(126, 34, 206);
   color: white;

   
}
.btn:hover{
    background-color:  #553c9a;
    color: white;
}
.headingcolor{
    color: rgb(126, 34, 206);
    font-weight: bold;
}
.headingcolor:hover{
    color: rgb(126, 34, 206);
    
}

