
	 
.btn{
   background-color:  rgb(126, 34, 206);
   color: white;

   
}
.btn:hover{
    background-color:  #553c9a;
    color: white;
}
.headingcolor{
    color: rgb(126, 34, 206);
    font-weight: bold;
}
.headingcolor:hover{
    color: rgb(126, 34, 206);
    
}